<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/commonBody :: common('로그인')}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oauth</title>
</head>
<body>
<th:block th:replace="~{fragments/commonBody :: header}"></th:block>
<a th:href="@{/oauth2/authorization/google}" role="button" class="btn btn-success active">Google Login</a>
<a th:href = "@{/oauth2/authorization/naver}"  role="button" class="btn btn-secondary active">네이버 로그인</a>
<a th:href="@{/}" role="button" class="btn btn-danger">취소</a>
</body>
</html>